
.App {
  text-align: center;
}

.App p {
  font-size: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 100px;
  padding: 20px;
  background-color: #0376be;
  color: white;
  border-bottom: 1px solid #dedede;
}

.App-header h1 {
  color: #80c4f1;
  font-weight: 600;
}

.App-title {
  font-size: 1.5em;
}

/* Address Form */

.address-form {
  overflow: hidden; 
}

.address-form .card {
  width: 50%;
  float: left;
}

.address-form .card:nth-of-type(1) {
  height: 480px;
  font-size: 12px;
  box-sizing: border-box;
}

.card {
  background: white;
  border: 1px solid #dedede;
  padding: 22px 28px;
  border-radius: 6px;
  box-shadow: 1px 4px 8px rgba(166, 166, 166, 0.2);
  -webkit-box-shadow: 1px 4px 8px rgba(166, 166, 166, 0.2);
  -moz-box-shadow: 1px 4px 8px rgba(166, 166, 166, 0.2);
  margin: 0 0 2em 0;
}

.card h3 {
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 18px;
}

.card--no-paddding {
  padding: 0;
}

.card__body,
.card__header {
  padding: 0 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container select { 
  background-color: white;
}

main {
  padding-top: 2em;
  height: 100%;
}

main .button {
  background: #5bb6e2;
  border: 0.1rem solid #4ba6d2;
}

.question-input {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.question-form {
  width: 30%;
  margin: 0 auto;
}

.question-form input,
.question-form button {
  width: 100%;
}

.address-form__field {
  margin: 0 auto 20px;
  width: 100%;
}

.address-form .mapboxgl-ctrl-geocoder {
  width: 100%;
  max-width: initial;
}

.App button {
  background-color: #4d96ca;
  border: 0.1rem solid #4d90ca;
}

.App select:focus {
  border-color: #9c9c9c;
  background-image: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14"…h fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>);
}
.mapboxgl-ctrl-geocoder input[type='text'] {
  height: 50px !important;
  font-size: 16px;
}

.results__main {
  text-align: left;
}

.results__main .card {
  height: 100%;
}

.results__main button {
  margin-top: 25px;
}