
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

main {
  padding-top: 2em;
}

.question-input {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.question-form {
  width: 30%;
  margin: 0 auto;
}

.question-form input,
.question-form button {
  width: 100%;
}

.address-form__field {
  margin: 0 auto 20px;
  width: 50%;
}

.address-form .mapboxgl-ctrl-geocoder {
  width: 100%;
  max-width: initial;
}